/* --- put your css here --- */ 
body {
  background-color: skyblue;
}

#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

.classy {
  margin-left: 10px;
}

div {
  position: relative;
  margin-bottom: 50px;
}

span {
  width: 200px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 50px;
  border-style: solid;
  border-color: blue;
  background-color: yellow;
}

.a {
   display: inline;
}

.b {
   display: block;
}

.c {
   display: inline-block;
}

img[alt="cat icon"] {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

img[alt="dog icon"] {
  position: relative;
  right: 50px;
  bottom: 150px;
  
}

img[alt="bird icon"]{
  position: absolute;
  top: 50px;
  left: 250px;
}

nav {
  position: sticky;
  top: 0;
  padding: 5px;
  font-size: 20px;
  background-color: RGB(0,255,0,90%);
}
/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
